@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
:root {
  --hight: calc(150px + 6rem);
  --bg_link: rgb(58, 106, 112);
  /*rgb(99, 178, 189);*/
  --bg_header: #f2aa4c;
  --square_side: 15vw;
  --big_square_side: 50vw;
  --comp-coloor: #101820;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: var(--bg_header);
}
body {
  background-color: var(--comp-coloor);
}

main {
  display: flex;
  justify-content: center;
  margin-top: var(--hight);
}

a {
  text-decoration: none;
  color: unset;
}

article {
  margin: 10px;
  padding: 20px;
  width: 50vw;
  height: calc(var(--square_side) + 2vw);
}

/*----------header & nav---------------*/

header a.btn {
  color: var(--bg_header);
  font-size: 1.2rem;
  background-color: var(--comp-coloor);
  padding: 0.5rem 1rem;
}

header a.btn:hover {
  box-shadow: -1px 1px 5px black;
  transform: scale(1.02);
}

header {
  height: auto;
  width: 100%;
  background-color: var(--bg_header);
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 5px 15pxvar (--comp-coloor);
}

header h1 {
  font-family: "Love Ya Like A Sister", cursive;
  color: var(--comp-coloor);
  font-size: 3.5rem;
  font-weight: lighter;
}

div.wraper-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.logo {
  background: url(../assets/bike-logo.svg);
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*-------------------------*/

main.article {
  flex-direction: column;
  align-items: center;
  height: auto;
  /* padding-bottom: 5rem; */
}

.wrapperArticlePage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

article.articlePage {
  height: unset;
  margin: unset;
  padding: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.articlePage div {
  position: absolute;
  top: 2rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 8px black;
  background-color: rgba(156, 154, 154, 0.233);
  padding: 1rem;
}

article.articlePage h1 {
  all: unset;
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

article.articlePage h2 {
  all: unset;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg_header);
}

article.articlePage p {
  font-size: 1.5rem;
}

img.articleImage {
  margin: unset;
  height: var(--big_square_side);
  width: var(--big_square_side);
  object-fit: cover;
}

#btnComment,
#sendComment {
  border: none;
  background: var(--bg_header);
  color: var(--comp-coloor);
  font-size: 1.5rem;
  width: 50%;
  margin: 2rem auto;
  padding: 0.8rem;
  cursor: pointer;
}

form {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-end;
}

form.post-suggestion {
  font-size: 1.2rem;
  margin: 2vh;
}

form input,
form textarea {
  background-color: var(--comp-coloor);
}

form.post-suggestion input[type="text"] {
  border: none;
  border-bottom: solid 2px var(--bg_header);
  width: 20vw;
  font-size: 1.2rem;
  padding: 0.5rem;
}

form.post-suggestion input[type="submit"] {
  border: none;
  background-color: var(--bg_header);
  color: var(--comp-coloor);
  width: 20vw;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

form input[type="submit"]:hover {
  box-shadow: -1px 1px 5px var(--bg_header);
  transform: scale(1.02);
}

form.post-suggestion textarea {
  width: 20vw;
  min-height: 10vw;
  padding: 0.5rem;
  border: solid 2px var(--bg_header);
}

form.let-comment {
  width: 50%;
  margin-top: 0;
  align-items: flex-end;
  font-size: 1.5rem;

  /* background-color: violet; */
}

form.let-comment input,
form.let-comment textarea {
  width: 500px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: solid 3px var(--bg_header);
}

main.article > h2 {
  display: block;
  width: 800px;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  border-top: solid 3px var(--bg_header);
  text-align: center;
}

div.commentsContainer {
  padding-bottom: 4rem;
  background: linear-gradient(
    0deg,
    var(--bg_header) 0%,
    var(--comp-coloor) 50%
  );
  width: 100%;
  display: flex;
  justify-content: center;
}
.commentList ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.commentList li {
  margin: 2rem 0;
  list-style: none;
  font-size: 1.5rem;
  display: block;
  width: 500px;
  padding: 1.5rem;
  background-color: var(--bg_header);
  border-radius: 5px;
}

.commentList li h3 {
  font-size: 80%;
}

.commentList li h3,
.commentList li h3 span,
.commentList li p {
  color: var(--comp-coloor);
}

.commentList li * + * {
  margin-top: 0.5rem;
}

.listwraper {
  width: auto;
}

article * + * {
  /* display: block; */
  margin-top: 1.5rem;
}

article.frontPage {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  margin: 2rem 0;
  justify-content: center;
  transition: 0.2s ease;
}

article.frontPage:hover {
  transform: scale(1.1);
}

div.imagen {
  width: var(--square_side);
  height: var(--square_side);
}

img.frontPage {
  height: var(--square_side);
  width: var(--square_side);
  object-fit: cover;
}

div.text {
  height: var(--square_side);
  width: calc(var(--square_side) + 5vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 4px var(--bg_header);
  padding: 0.5rem 0;
}
/* -----------animation & actions--------------------- */

.purple {
  /* background: blueviolet; */
  filter: blur(5px);
}

.hidden {
  display: none;
}

.fade-in.appear {
  animation: slideIn 0.5s linear forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert {
  animation: alert 0.5s ease-in-out infinite;
}

@keyframes alert {
  from {
    background: var(--bg_link);
    color: var(--comp-coloor);
  }
  to {
    background: rgb(194, 81, 81);
    color: var(--comp-coloor);
  }
}

/*---------java fade in------------*/
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

/* .scrolled {
  transition: all 1s;
  box-shadow: 0px 3px 13px -7px #000000,
    5px -1px 15px 5px rgba(198, 198, 198, 0.06);
} */
